/*import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*variables*/
:root {
  --bodyColor: black;
  --bodyBackgroundColor: white;

  --boardWidth: 1050px;
  --boardNavWidth: 100px;
  --boardMainWidth: calc(var(--boardWidth) - 2 * var(--boardNavWidth));
  --margin: calc((100vw - var(--boardWidth)) / 2);
}

/*body*/
body{
  display: block;
  margin; 0px;
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: 'Poppins', sans-serif;
}

/*configuration*/
a {
  text-decoration: none;
}

button:focus {
  outline-style: none;
}

/*container*/
.container {
  margin: 0px var(--margin);
  padding: 200px 0px;
  position: sticky;
}
